{% extends 'home/admin_base.html' %}

{% block content %}
            <h2>City list</h2>
            <a class="btn btn-primary" href="{% url 'admin_add_city' %}" role="button">Create</a>
            <p>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Listings</th>
                    <th scope="col">Image</th>
                    <th scope="col">Buttons</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city in cities %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ city.name }}</td>
                        <td>{{ city.number_of_listing }}</td>
                        <td><img src="{{ city.absolute_url }}" class="rounded size" alt="Cinque Terre"> </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'admin_edit_city' city.id %}" role="button">Edit</a>
                            <form action="{% url 'admin_delete_item' %}" method="POST" class="form-inline">
                                <input type="hidden" value={{ city.id }} name="id">
                                <input type="hidden" value='city' name="kind">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </p>
            

{% endblock content %}